*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif; */
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 24px;
}

.menu {
  list-style: none;
}

.container {
  padding: 0 15px;
  /* padding: 0 15px; */
  max-width: 1170px;
  margin: 0 auto;
}

.title-main {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 400;
}

.title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
}

.btn {
  font-weight: 300;
  background-color: transparent;
  font-size: 24px;
  position: relative;
  transition: all 0.2s;
}

.btn__active {
  position: relative;
  z-index: 2;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  transition: all 0.5s;
}

.btn:hover {
  color: #fff;
}

.btn:hover:after {
  width: 100%;
}

.btn:active {
  transform: translateY(-2px);
}

.header {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;
}

.header__inner {
  display: flex;
  gap: 532px;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__menu {
  display: flex;
  gap: 67px;
}

.menu__item {
  transition: all 0.3s ease-in-out;
}

.menu__item:hover {
  color: #fff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  color: inherit;
}
.cover {
  background-image: url(../images/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
  /* display: flex;
    align-items: center; */
}

.cover__inner {
  height: 95vh;
  display: flex;
  align-items: center;
}

.cover__title {
  padding-bottom: 22px;
}

.cover__text {
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 53px;
}

.cover__btn {
  width: 258px;
  height: 56px;
}

.about {
  padding: 117px 0 0;
}

.about__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 77px;
}

.about__inner-title {
  padding-bottom: 16px;
}

.plants {
  padding: 150px 0 150px;
}

.plants__inner {
  padding-bottom: 62px;
}

.plants__inner-title {
  padding-bottom: 14px;
}

.plants__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 62px 15px;
}

.plants__card-info {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 40px 0;
}

.plants__card-btn {
  width: 154px;
  height: 56px;
}

.guide {
  background-image: url(../images/form-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  /* display: flex;
    align-items: center; */
}

.guide__inner {
  height: 60vh;
  display: flex;
  align-items: center;
}

.form__title {
  padding-bottom: 45px;
}

.guide__form-fields {
  display: flex;
  gap: 40px;
  padding-bottom: 60px;
}

.guide__form-input {
  width: 309px;
  height: 56px;
  padding-left: 28px;
  font-size: 24px;
  outline: none;
}

.guide__form-input::placeholder {
  color: #c3c3c3;
}

.guide__form-btn {
  width: 160px;
  height: 56px;
}

.blog {
  padding: 130px 0 165px;
}

.blog__inner {
  padding-bottom: 76px;
}

.blog__inner-text {
  padding-top: 14px;
}

.blog__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 57px 18px;
}

.gallery__text {
  padding-top: 22px;
}

.gallery__card {
  width: 560px;
}

.contacts {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}

.contacts__inner {
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.contacts__inner-title {
}

.contacts__link {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 18px;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1180px) {
  .plants__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plants__cards {
    justify-content: center;
  }
  .gallery__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1155px) {
  .header__menu {
    flex-wrap: wrap;
    gap: 40px;
  }

  .about__inner-img {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .header__inner {
    gap: 500px;
  }
}

@media (max-width: 850px) {
  .header__inner {
    gap: 30px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header__menu {
  }
}

@media (max-width: 875px) {
  .about__inner {
    flex-direction: column-reverse;
  }
  .guide__inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .guide__form-fields {
    gap: 13px;
    padding-bottom: 33px;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 20px;
  }

  .title {
    font-size: 44px;
  }

  .title-main {
    font-size: 56px;
  }
  .cover__text {
    font-size: 25px;
  }

  .btn {
    font-size: 20px;
  }
}

@media (max-width: 660px) {
  .about__inner {
    gap: 50px;
  }

  .guide {
    height: 65vh;
  }

  .gallery__img {
    width: 80%;
  }

  .plants__card-img {
    width: 90%;
  }

  .plants__card-info {
    width: 90%;
  }
}

@media (max-width: 580px) {
  .contacts__inner {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contacts__link {
    align-items: center;
  }

  .blog__gallery {
    flex-direction: row;
  }
}

@media (max-width: 470px) {
  .header__menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cover__inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .guide {
    height: 100vh;
  }
  .guide__inner {
    height: 100vh;
  }
}

@media (max-width: 400px) {
  .plants__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plants__card-info {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .plants__card-btn {
    margin: 0 28% 0;
  }

  .plants__card-info {
    padding-bottom: 20px;
  }
}
